<p><b>title</b>:<%= @book.title %></p>
<p><b>body</b>:<%= @book.body %></p><br>

<%= link_to "Edit", edit_book_path(@book.id), style: "color:black;" %> | <%= link_to "Back", :back, style: "color:gray;" %>